<html>
<head>
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
<script src="bower_components/jquery/dist/jquery.js"></script>

</head>
<body>
<h1>Welcome to Kiran's Blog</h1>
<a href="/blog-create" class="btn btn-primary">Create New</a>
<% if(errorData){ %>
  <h1> <%= errorData %></h1>
<% } else { %>
<% for(var i=0;i<blogs.length;i++){ %>
<div class="panel panel-default">
<div class="panel-body">
<div class ="row">
<div class="col-xs-12">
 <textarea disabled="true" name="blogContent" id="blogContent_<%= blogs[i]._id %>"> <%= blogs[i].blogContent %></textarea>
</div>

 <div class="col-xs-12">
 <textarea name="comment"
  id="blogComment_<%= blogs[i]._id %>"> 
  </textarea>
</div>
<div class="col-xs-4">
 <button class="btn btn-primary" id="<%= blogs[i]._id %>"  >Comment</button>
 </div>
 </div><br>
  <% }  } %>
<script src="app/blog.js"></script>

</body>
</html>
